.about-section {
  background: #0d0f0e;

  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #cdf;

  @include media(desktop) {
    font-size: 18px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}
