.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 498px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 782px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  @include media(desktop) {
  }
}

.contact-title {
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.contact-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #19444d;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.contact-link {
  background: #fff;
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #ff5b02;
  word-break: break-all;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.arrow-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.contact-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
  color: #9a9a9a;

  @include media(desktop) {
  }
}
