.cta-section {
  background: linear-gradient(180deg, #152972 0%, #480d8e 100%);

  @include media(desktop) {
  }
}

.cta-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 160px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.cta-container {
  @include media(desktop) {
  }
}

.cta-content-wrapper {
  background: #0d0f0e;
  border-radius: 24px;
  padding: 64px 16px 0px;

  @include media(desktop) {
    padding: 100px 64px;
    position: relative;
  }
}

.cta-text-wrapper {
  @include media(desktop) {
  }
}

.cta-title {
  text-align: left;

  @include media(desktop) {
  }
}

.cta-text {
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #cdf;
  margin-bottom: 40px;

  @include media(desktop) {
    max-width: 341px;
  }
}

.cta-btn {
  max-width: 311px;
  margin-bottom: 48px;

  @include media(desktop) {
    max-width: 220px;
    margin: 0;
  }
}

.cta-img-mob {
  @include media(desktop) {
    display: none;
  }
}

.cta-img1-desk {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 416px;
    z-index: 1;
  }
}

.cta-img2-desk {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 132px;
  }
}
