.faq-contact-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/faq/faq-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/faq/faq-bg-desk.jpg);
  }
}

.faq-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.faq-list-item {
  box-shadow: 4px 4px 12px 0 rgba(109, 109, 109, 0.25);
  background: #fff;
  border-radius: 12px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #0c0d29;
  text-align: left;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #525252;
  max-width: 287px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    max-width: 584px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}
