.gallery-section {
  background: linear-gradient(180deg, #152972 0%, #480d8e 100%);

  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.gallery-container {
  @include media(desktop) {
  }
}

.gallery-title {
  @include media(desktop) {
  }
}

.gallery-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #cdf;

  @include media(desktop) {
    font-size: 18px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 416px;
  }
}

.gallery-img {
  @include media(desktop) {
  }
}
