.header {
  background: rgba(18, 19, 31, 0.6);
  border-bottom: 1px solid #ff5b02;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 11px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.nav-list-link {
  padding: 6px 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #ff5b02;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
