.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 398px;
  padding-bottom: 32px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 164px;
    padding-bottom: 102px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 574px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.hero-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 26px;
  }
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #dcdcdc;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 32px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition:
    background 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #343434;
    border-color: #ff5b02;

    .her-btn-top-text {
      color: #fff;
    }

    .her-btn-bottom-text {
      color: #fff;
    }
  }

  @include media(desktop) {
    max-width: 240px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #19444d;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #19444d;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
