.hero-section {
  background: linear-gradient(180deg, #152972 0%, #480d8e 100%);

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 100px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 102px;
    padding-bottom: 212px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 520px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.hero-text {
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  margin-bottom: 245px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #024f79;
  border-radius: 8px;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #004367;

    .her-btn-top-text {
      color: #ebebeb;
    }

    .her-btn-bottom-text {
      color: #ebebeb;
    }
  }

  @include media(desktop) {
    max-width: 220px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
