.multiplayer-section {
  background: #750d1a;
}

.multiplayer-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.multiplayer-container {
  @include media(desktop) {
  }
}

.multiplayer-title {
  color: #ffd4cc;

  @include media(desktop) {
  }
}

.multiplayer-list-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #ffd4cc;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 64px;
  }
}

.multiplayer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
  }
}

.multiplayer-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 266px;

  @include media(desktop) {
  }
}

.multiplayer-img {
  @include media(desktop) {
  }
}

.multiplayer-item-text {
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #ffd4cc;
  max-width: 174px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.multiplayer-bottom-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #ffd4cc;

  @include media(desktop) {
    font-size: 18px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}
