.policy-section {
  background: #152972;
  padding-top: 112px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 200px;
    padding-bottom: 120px;
  }
}

.policy-main-title {
  font-family: 'Lora', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 52px;
  }
}

.policy-title {
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-span {
  color: #92adff;
}

.policy-link {
  color: #92adff;
  word-wrap: break-word;
}
