.variations-section {
  background: #0d0f0e;

  @include media(desktop) {
  }
}

.variations-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.variations-container {
  @include media(desktop) {
  }
}

.variations-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
}

.variations-text-wrapper {
  @include media(desktop) {
    max-width: 640px;
  }
}

.variations-title {
  text-align: left;

  @include media(desktop) {
  }
}

.variations-list-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #cdf;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.variations-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.variations-list-item {
  display: flex;
  align-items: start;
  gap: 16px;

  @include media(desktop) {
  }
}

.variations-icon {
  min-width: 24px;
}

.variations-item-text-wrapper {
  @include media(desktop) {
  }
}

.variations-item-title {
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #cdf;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.variations-item-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #cdf;

  @include media(desktop) {
    font-size: 18px;
  }
}

.variations-bottom-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #cdf;

  @include media(desktop) {
    font-size: 18px;
  }
}

.variations-line-wrapper {
  @include media(desktop) {
    margin-left: 0;
  }
}

.variations-img {
  @include media(desktop) {
    min-width: 608px;
  }
}
