<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">How It Works</h2>
      <ul class="about-list">
        <li class="about-list-item">
          <img
            class="about-img"
            src="./img/about/about-img1.png"
            alt="Screenshot of the game"
            width="140"
            height="150"
          />
          <p class="about-item-text">
            Match three or more colored tiles to clear the board.
          </p>
        </li>
        <li class="about-list-item">
          <img
            class="about-img"
            src="./img/about/about-img2.png"
            alt="Screenshot of the game"
            width="140"
            height="150"
          />
          <p class="about-item-text">
            Create powerful combos to defeat obstacles and villains.
          </p>
        </li>
        <li class="about-list-item">
          <img
            class="about-img"
            src="./img/about/about-img3.png"
            alt="Screenshot of the game"
            width="140"
            height="150"
          />
          <p class="about-item-text">
            Strategize your moves and use items wisely to complete tricky
            stages.
          </p>
        </li>
        <li class="about-list-item">
          <img
            class="about-img"
            src="./img/about/about-img4.png"
            alt="Screenshot of the game"
            width="140"
            height="150"
          />
          <p class="about-item-text">
            Explore over tons of levels that get trickier as you go
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
