<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About The Game</h2>
      <p class="about-text">
        Carrom Party is basically the classic table game, but digital - it's
        strategic when you want it to be, but you can also just jump in and
        play. Honestly, it took us forever to figure out how to make this work
        on such a small screen - turns out, simple controls and quick games are
        the way to go. Whether you've got 30 seconds or 30 minutes, this game
        works.
      </p>
      <div class="section-line-wrapper">
        <div class="section-line"></div>
        <svg class="section-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-dice1"></use>
        </svg>
        <div class="section-line"></div>
      </div>
    </div>
  </div>
</section>
