<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <div class="cta-content-wrapper">
        <div class="cta-text-wrapper">
          <h2 class="section-title cta-title">Start Playing</h2>
          <p class="cta-text">
            Ready to flick, pocket, and score? Play Carrom Party now on your
            Wear OS device.
          </p>
          <a
            class="hero-btn cta-btn"
            href="https://play.google.com/store/apps/details?id=com.renderedideas.carromparty.wearos&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="playstore-icon" width="30" height="34">
              <use href="./img/sprite.svg#icon-playstore"></use>
            </svg>
            <div class="hero-btn-text-wrapper">
              <p class="her-btn-top-text">GET IT ON</p>
              <p class="her-btn-bottom-text">Google Play</p>
            </div>
          </a>
        </div>
        <img
          class="cta-img-mob"
          src="./img/cta/cta-img-mob.png"
          alt="Screenshot of the game"
          width="296"
          height="255"
          loading="lazy"
        />
        <img
          class="cta-img1-desk"
          src="./img/cta/cta-img1-desk.png"
          alt="Screenshot of the game"
          width="336"
          height="366"
          loading="lazy"
        />
        <img
          class="cta-img2-desk"
          src="./img/cta/cta-img2-desk.png"
          alt="Screenshot of the game"
          width="336"
          height="535"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
