<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Is Pokopoko: Bunny Match 3 Puzzle free to play?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — the game is free with optional in-app purchases.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I play offline?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — you can play the main puzzles even when you're offline.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are there events and mini-games?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes — special events and side modes keep content fresh.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How many levels are there?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          There are thousands of unique match-3 stages.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Do characters affect gameplay?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Characters support combos and power-ups that enhance puzzle strategy.
        </p>
      </li>
    </ul>
  </div>
</section>
