<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="501"
            height="291" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="343"
            height="200" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="200"
        /></picture>
        <p class="hero-text">
          We've taken that carrom game you love and somehow managed to get it
          working on Wear OS. It's quick, you'll need to think, and honestly?
          It's pretty addictive.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.renderedideas.carromparty.wearos&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
