<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#characters"
          >Characters</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#villains">Villains</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#events">Events</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gallery">Gallery</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
