<section class="section multiplayer-section" id="multiplayer">
  <div class="multiplayer-bg-wrapper">
    <div class="container multiplayer-container">
      <h2 class="section-title multiplayer-title">Multiplayer & Social</h2>
      <p class="multiplayer-list-text">
        This game includes different ways to enjoy Carrom:
      </p>
      <ul class="multiplayer-list">
        <li class="multiplayer-list-item">
          <img
            class="multiplayer-img"
            src="./img/multiplayer/multiplayer-img1.png"
            alt="Screenshot of the game"
            width="80"
            height="85"
          />
          <p class="multiplayer-item-text">Play casually against an AI</p>
        </li>
        <li class="multiplayer-list-item">
          <img
            class="multiplayer-img"
            src="./img/multiplayer/multiplayer-img2.png"
            alt="Screenshot of the game"
            width="80"
            height="85"
          />
          <p class="multiplayer-item-text">Share scores with friends</p>
        </li>
        <li class="multiplayer-list-item">
          <img
            class="multiplayer-img"
            src="./img/multiplayer/multiplayer-img3.png"
            alt="Screenshot of the game"
            width="80"
            height="85"
          />
          <p class="multiplayer-item-text">Compare your accuracy and tactics</p>
        </li>
      </ul>
      <p class="multiplayer-bottom-text">
        Oh, and we added some social stuff because, let's be honest, beating
        your friends makes everything better.
      </p>
      <div class="section-line-wrapper">
        <div class="section-line"></div>
        <svg class="section-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-cup"></use>
        </svg>
        <div class="section-line"></div>
      </div>
    </div>
  </div>
</section>
