<section class="section variations-section" id="variations">
  <div class="variations-bg-wrapper">
    <div class="container variations-container">
      <div class="variations-content-wrapper">
        <div class="variations-text-wrapper">
          <h2 class="section-title variations-title">Game Variations</h2>
          <p class="variations-list-text">
            This game includes different ways to enjoy Carrom:
          </p>
          <ul class="variations-list">
            <li class="variations-list-item">
              <svg class="variations-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-coins"></use>
              </svg>
              <div class="variation-item-text-wrapper">
                <p class="variations-item-title">
                  Classic Mode — 1v1 player vs AI
                </p>
                <p class="variations-item-text">
                  Timed Challenges — score as many points as possible in set
                  time
                </p>
              </div>
            </li>
            <li class="variations-list-item">
              <svg class="variations-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-coin"></use>
              </svg>
              <div class="variation-item-text-wrapper">
                <p class="variations-item-title">Free Play</p>
                <p class="variations-item-text">
                  Practice and polish your shots
                </p>
              </div>
            </li>
          </ul>
          <p class="variations-bottom-text">
            Whatever mode you're feeling, play for two minutes or two hours -
            totally up to you.
          </p>
          <div class="section-line-wrapper variations-line-wrapper">
            <div class="section-line"></div>
            <svg class="section-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-dice2"></use>
            </svg>
            <div class="section-line"></div>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/variations/variations-img-desk.png"
            media="(min-width: 1440px)"
            width="645"
            height="488" />
          <source
            srcset="./img/variations/variations-img-mob.png"
            width="343"
            height="259" />
          <img
            class="variations-img"
            src="./img/variations/variations-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="259"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
