<section class="section villains-section" id="villains">
  <div class="villains-bg-wrapper">
    <div class="container villains-container">
      <div class="villains-content-wrapper">
        <div class="villains-text-wrapper">
          <h2 class="section-title villains-title">Villains & Challenges</h2>
          <p class="villains-subtitle">
            You'll run into these weird little villains that try to mess up your
            game.
          </p>
          <p class="villains-text">
            Match strategically to overcome obstacles like lava rocks, beehives,
            and tough panels. Each villain introduces each bad guy throws
            different curveballs at you, so it doesn't get boring.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/villains/villains-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="334" />
          <source
            srcset="./img/villains/villains-img-mob.png"
            width="343"
            height="179" />
          <img
            class="villains-img"
            src="./img/villains/villains-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="179"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
